# Minimal environment variables for Docker Compose

DB_NAME=yourDatabaseName
DB_USERNAME=yourDatabaseUser
DB_PASSWORD=yourDatabasePassword
MYSQL_ROOT_PASSWORD=yourRootPassword
SPRING_PROFILES_ACTIVE=dev
JWT_SECRET=a_secret_key_that_should_be_changed_in_production
