_bmad/
_bmad-output/
.claude/
.github/
.DS_Store

# Spring Boot backend
back/**/target/
back/**/.env
back/**/*.class
back/**/*.jar
back/**/*.war
back/**/*.log
back/**/spring-shell.log

.env.dev
.env.prod