<aside
  class="hidden lg:flex flex-col h-screen fixed left-0 top-0 py-lg w-64 bg-surface-container-low border-r border-outline-variant z-40 pt-24"
>
  <!-- Workspace identity AQUÍ SI QUEREMOS PONER EL NOMBRE DE LA PERSONA QUE ESTÁ LOGUEADA Y SU ROL
  <div class="px-md mb-xl">
    <div class="flex items-center gap-sm px-sm">
      <div class="w-10 h-10 bg-primary flex items-center justify-center rounded-xl text-on-primary">
        <span class="material-symbols-outlined">corporate_fare</span>
      </div>
      <div>
        <h3 class="font-title-md text-title-md text-on-surface">Office Admin</h3>
        <p class="text-[12px] text-on-surface-variant opacity-70">Floor 4 - Main Wing</p>
      </div>
    </div>
  </div>
  -->

  <!-- Main nav -->
  <nav class="flex-1">
    <a
      *ngFor="let item of navItems"
      [routerLink]="item.route"
      routerLinkActive="bg-secondary-container text-on-secondary-container"
      [routerLinkActiveOptions]="{ exact: true }"
      class="text-on-surface-variant mx-sm my-xs px-md py-sm flex items-center gap-md hover:bg-surface-container-high transition-colors rounded-xl"
    >
      <span class="material-symbols-outlined">{{ item.icon }}</span>
      <span class="font-title-md text-title-md">{{ item.label }}</span>
    </a>
  </nav>

  <!-- New Booking CTA ESTO YA LO TENEMOS EN HACER RESERVA
  <div class="px-sm mb-lg">
    <button
      class="w-full bg-primary text-on-primary py-sm rounded-xl font-bold transition-all active:scale-[0.98]"
    >
      New Booking
    </button>
  </div>
  -->

  <!-- Bottom nav ESTO PUEDE SER PARA FUTURO
  <div class="border-t border-outline-variant pt-md">
    <a
      *ngFor="let item of bottomItems"
      [routerLink]="item.route"
      routerLinkActive="bg-secondary-container text-on-secondary-container"
      class="text-on-surface-variant mx-sm my-xs px-md py-sm flex items-center gap-md hover:bg-surface-container-high transition-colors rounded-xl"
    >
      <span class="material-symbols-outlined">{{ item.icon }}</span>
      <span class="font-title-md text-title-md">{{ item.label }}</span>
    </a>
  </div>
  -->
</aside>
