/* ============================================================================
   FLEXBOX COMUNES
   ============================================================================
   Clases utilitarias para los diseños flexbox.
   ============================================================================ */

/* .flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gap-sm {
  gap: var(--spacing-sm);
}

.gap-md {
  gap: var(--spacing-md);
}

.gap-lg {
  gap: var(--spacing-lg);
} */
